.reading-frame-container {
  --font-small: 16px;
  --font-medium: 20px;
  --font-large: 24px;
  --font-xlarge: 28px;

  --font-sans-serif: "Roboto Condensed", sans-serif;
  --font-serif: serif;

  --line-small: 1;
  --line-medium: 1.2;
  --line-large: 1.4;

  width: 100%;
  padding: 20px;
}

.reading-frame-container .option-bar {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #2b3035;
  color: #fff;
  position: sticky;
  top: 52px;
  z-index: 1;
  /* border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px; */
}

.reading-frame-container .option-bar .option-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 2px;
}

.reading-frame-container .option-field select {
  padding: 6px;
  padding-right: 12px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.reading-frame-content {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 40px 20px;
}

.reading-frame-content p {
  margin-bottom: 12px;
  text-align: justify;
}

.reading-frame-content.font-small p {
  font-size: var(--font-small);
}

.reading-frame-content.font-medium p {
  font-size: var(--font-medium);
}

.reading-frame-content.font-large p {
  font-size: var(--font-large);
}

.reading-frame-content.font-xlarge p {
  font-size: var(--font-xlarge);
}

.reading-frame-content.font-sans-serif p {
  font-family: var(--font-sans-serif);
}

.reading-frame-content.font-serif p {
  font-family: var(--font-serif);
}

.reading-frame-content.theme-light {
  color: #2b3035;
}

.reading-frame-content.theme-dark {
  color: #fff;
  position: relative;
}

.reading-frame-content.theme-dark::before {
  content: "";
  width: 200vw;
  height: 100%;
  background-color: #2b3035;
  position: absolute;
  z-index: -1;
  left: -50%;
  top: 0;
}

.reading-frame-content.line-small p {
  line-height: var(--line-small);
}

.reading-frame-content.line-medium p {
  line-height: var(--line-medium);
}

.reading-frame-content.line-large p {
  line-height: var(--line-large);
}
