.navbar {
  position: sticky !important;
  top: 0;
  z-index: 10;
}

.navbar .navbar-brand {
  margin-right: 60px !important;
  /* padding-top: 0 !important; */
  font-size: 32px !important;
  font-weight: 900;
  line-height: normal;
}

.navbar .nav-link {
  padding-right: 40px !important;
  text-wrap: nowrap;
}

.dropdown-menu.show {
  display: flex !important;
  flex-wrap: wrap;
}

.novel-genre-dropdown .dropdown-menu.show {
  width: calc(160px * 3 + 4px) !important;
}

.novel-genre-dropdown .dropdown-menu .dropdown-item {
  width: 160px !important;
}

.publishing-year-dropdown .dropdown-menu.show {
  width: calc(64px * 4 + 4px) !important;
}

.publishing-year-dropdown .dropdown-menu .dropdown-item {
  width: 64px !important;
}

.navbar-nav .form-select {
  height: 40px;
  margin-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 40px;
}

.nav-right span,
.nav-right button {
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  text-wrap: nowrap;
}

.nav-right span {
  background-color: #fff;
  color: #2b3035;
  padding: 8px 16px;
  padding-right: 20px;
  border-radius: 6px;
  font-weight: 500;
}

.nav-right button {
  background-color: transparent;
  padding: 8px;
  padding-right: 40px;
}
